.tree-dragover-top {
  transition: padding-top 0.05s ease-out;
  padding-top: 24px;
}

.tree-dragover-bottom {
  transition: padding-bottom 0.05s ease-out;
  padding-bottom: 24px;
}

.tree-dragover-middle {
  transition: padding 0.05s ease-out;
  padding: 0;
}

.tree-node {
  margin-bottom: 10px;
}

.tree-node:last-child {
  margin-bottom: 0;
}