.tree-item {
  padding-top: 1px;
  padding-bottom: 1px;
}

.tree-children {
  width: max-content;
}

.js-tree-position-placeholder {
  height: 0px;
  padding: 0;
  background-color: transparent;
  width: 100%;
}
// TODO: Add Themeing
.js-tree-position-placeholder__visible {
  border: 1px dashed #647ea3;
  background-image: linear-gradient(45deg, #647ea3 5%, #1f2d40 5%, #1f2d40 50%, #647ea3 50%, #647ea3 55%, #1f2d40 55%, #1f2d40 100%);
  background-size: 14.14px 14.14px;
}

.hidden {
  visibility: hidden;
}